# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Idea
.idea/
*.iml
*.ipr
*.iws

# Mac
.DS_Store

# Compose / Kotlin
.kotlin/
local.properties

# Node / Web
node_modules/
kotlin-js-store/

# Xcode
xcuserdata/
**/xcshareddata/WorkspaceSettings.xcsettings
Pods/
*.xcworkspace/xcuserdata/

# OS
Thumbs.db
readme.md